.post-container {
  transition: background-color 0.3s;
}

.post-container:hover {
  border-right: 1em solid #656565;
  background-color: rgba(218, 21, 21, 0.774);
  border-radius: 0.5em;
}

body {
  background-image: url('/images/239680.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

